*,::after,::before{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root{
	--main-font:'Bebas Neue', cursive;
	--body-font:'Montserrat', sans-serif;
	--bg-color:#050505;
	--bg-color2:#FFFFFF;
	--icon-color:#CD3A1D;
	--btn-color:#FF4723;
}

a,ul,ol{
	text-decoration: none;
	list-style: none;
}


.container-bg{
	max-width: 1170px;
	margin: 0;
}

.container-sm{
	max-width: 1100px;
	margin: 0;
}

.d-flex{
	display: flex;
}

.img-fluid{
	object-fit: cover;

}

/*HEADER START*/
header{
	position: relative;
	z-index: 2;
}

header .header-top{
/*	background-color:var(--bg-color); */
	z-index: 2;
	position: relative;
}

header .header-top .row{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap:20px;
	padding: 10px 40px 0 40px;
	margin: 0;
}

header .header-top .row .menu-btn{
	position: absolute;
    right: 0;
    top: 0;
    display: none;
}
header .header-top .row .menu-btn a{
	font-size: 30px;
	color: #fff;
}
header .header-top .row .col-3 .logo-block{
	max-width: 100px;
}
header .header-top .row .col-3 .logo-block a img{
	width: 100%;
}
header .header-top .row .col-3 .menu-block .d-flex{
	justify-content: space-between;
	align-items: center;
	gap:30px;
}

header .header-top .row .col-3 .menu-block .d-flex li a{
	font-family: var(--main-font);
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	color: var(--bg-color2);
	text-transform: capitalize;
	padding: 0;
	margin: 0;
}

header .header-top .row .col-3 .contact-block p{
	font-family: var(--main-font);
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	color: var(--icon-color);
	text-transform: capitalize;
	padding: 0;
	margin: 0;
}

header .header-top .row .col-3 .contact-block p a{
	font-family: var(--main-font);
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	color: var(--bg-color2);
	text-transform: capitalize;
	padding: 0;
	margin: 0;
}

header .banner-home{
	margin-top:-115px; 
	z-index: 1;
	position: relative; 
	line-height: 0;
}

header .banner-home .image-block{ 
	width: 100%;
	top: 0;
	right: 0;	
}

header .banner-home .image-block img{
	max-width: 100%;
	height: auto;
	width: 100%;
	line-height: 0;
}

/*header .banner-home .image-block:after{
	content: "";
	position: absolute;
	width: 200px;
	height: 100%;
	background: black;
	top: 0;
	right: 0;
	z-index: 5;
}
*/

header .banner-home .desc{
    position: absolute;
    top: 250px;
    right: 0;
 	width: 100%;
}

header .banner-home .desc .contain {  width: 630px; margin: 0 auto ; padding-left: 400px; box-sizing: content-box; }
header .banner-home .desc .title-block h2{
	font-family: var(--main-font);
	font-weight: 400;
	font-size: 120px;
	line-height: 126px;
	letter-spacing: 4px;
	color: #fff;
	text-transform: uppercase;
	padding: 0 0 10px 0;
	margin: 0;
}

header .banner-home .desc .button-block{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap:30px;
}

header .banner-home .desc .button-block .book-btn a{
	font-family: var(--main-font);
	font-weight: 400;
	font-size: 16px;
	line-height: 1.3;
	color: #fff;
	background-color: var(--btn-color);
	text-transform: uppercase;
	padding: 15px 35px;
	margin: 0;
}

header .banner-home .desc .button-block .social-media-links{

}

header .banner-home .desc .button-block .social-media-links p{
	font-family: var(--main-font);
	font-weight: 400;
	font-size: 14px;
	line-height: 1.3;
	color: #fff;
	text-transform: uppercase;
	padding: 0 0 10px 0;
	margin: 0;
}

header .banner-home .desc .button-block .social-media-links ul{
	display: flex;
	flex-wrap: wrap;
	gap:20px;
}

header .banner-home .desc .button-block .social-media-links ul li a{
	font-size: 20px;
	color: #fff;
	width: 40px; height: 40px; background: #1E1E1E; color: #565656; border-radius: 50%;  display: flex; align-items: center; justify-content: center;
}
header .banner-home .desc .button-block .social-media-links ul li a:hover{
	color: var(--icon-color);
}

/*HEADER END*/

/*OUR STORY START*/

.our-story-section{
	padding: 150px 0;
	margin: 0;
	background-color: var(--bg-color);
	background-image: url(../images/bg-2.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 100%;
}

.our-story-section .container{
	max-width: 1170px;
	margin: 0 auto;
}

.our-story-section .container .desc-box{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	position: relative;
}

.our-story-section .container .desc-box .text-block{
	width: 50%;
}

.our-story-section .container .desc-box .text-block h2{
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 60px;
    line-height: 1.3;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    padding: 0;
    margin: 0 0 25px 0;
}

.our-story-section .container .desc-box .text-block h2::after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	border-bottom :5px solid var(--icon-color);
	width: 80px;
}

.our-story-section .container .desc-box .text-block .para-1{
    font-family: var(--body-font);
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    line-height: 28px;
    padding: 30px 0;
    margin: 0 0 43px 0;
}
.our-story-section .container .desc-box .text-block p{
	font-family: var(--body-font);
	font-weight: 400;
	font-size: 16px;
	color: #fff;
	line-height:28px;
	padding: 0;
	margin: 0;
}

.our-story-section .container .desc-box .text-block .know-more-btn a{
	font-family: var(--main-font);
	font-weight: 400;
	font-size: 16px;
	line-height: 1.3;
	letter-spacing: 1px;
	color: #fff;
	background-color: var(--btn-color);
	text-transform: uppercase;
	padding: 20px 70px;
	margin: 0 ;
}

.our-story-section .container .desc-box .image-block .all-images{
    /* position: relative; */
    display: flex;
    /* justify-content: space-between; */
    /* gap: 60px; */
    /* align-items: center; */
}

.our-story-section .container .desc-box .image-block .all-images .two-image{ 
	display: flex;
	justify-content: space-between;
	gap:60px;
 }

.our-story-section .container .desc-box .image-block .all-images .two-image .lt-image-block{ width: 47%; }


.our-story-section .container .desc-box .image-block .all-images .lt-image-block{
	max-width: 310px;
	height: 370px;
}
.our-story-section .container .desc-box .image-block .all-images .two-image .lt-image-block img{
	width: 100%;
    height: 100%;
    object-fit: cover;
}

.our-story-section .container .desc-box .about-block{
    position: absolute;
    top: 150px;
    right: 135px;
    background-color: var(--icon-color);
    color: #fff;
    margin: 0 auto;
    text-align: center;
    width: 310px;
    height: 370px;
    z-index: 2;
    box-shadow: 30px 30px 0px -2px #0C0C0C;
}

.our-story-section .container .desc-box .about-block .box-1{
	padding: 10px 20px;
	margin: 0;
}

.our-story-section .container .desc-box .about-block .box-1 i{
	font-size: 60px;
	color: #fff;
	padding: 20px 0;
}

.our-story-section .container .desc-box .about-block .box-1 h4{
	font-family: var(--main-font);
	font-size: 26px;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
	padding: 0 0 10px 0;
	margin: 0;
	position: relative;
}

.our-story-section .container .desc-box .about-block .box-1 h4::after{
	content: "";
    position: absolute;
    bottom: 11px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-bottom: 3px solid var(--bg-color);
    width: 60px;
}

.our-story-section .container .desc-box .about-block .box-1 p{
	font-family: var(--body-font);
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	text-transform: capitalize;
	padding: 0 0 10px 0;
	margin: 0;
}

.our-story-section .container .desc-box .about-block .box-2{
	padding: 30px 20px;
	margin: 0;
}

.our-story-section .container .desc-box .about-block .box-2 h4{
	font-family: var(--main-font);
	font-size: 26px;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
	padding: 0 0 10px 0;
	margin: 0;
	position: relative;
}

.our-story-section .container .desc-box .about-block .box-2 h4::after{
 	content: "";
    position: absolute;
    bottom: 11px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-bottom: 3px solid var(--bg-color);
    width: 60px;
}

.our-story-section .container .desc-box .about-block .box-2 p{
	font-family: var(--body-font);
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	text-transform: capitalize;
	padding: 0 0 10px 0;
	margin: 0;
}

/*OUR STORY SECTION END*/

/*OUR SERVICE SECTION START*/

.our-service-section{
	padding: 150px 0;
	margin: 0;
	background-color: var(--bg-color);
	background-image: url(../images/bg-3.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: contain;
}

.our-service-section .container{
	max-width: 1170px;
	padding: 0;
	margin: 0 auto;
	text-align: center;
	position: relative;

}

.our-service-section .container .title-block h2{
	font-family: var(--main-font);
	font-weight: 400;
	font-size: 60px;
	line-height: 1.3;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: #fff;
	position: relative;
	padding: 0;
	margin: 0;
}

.our-service-section .container .title-block h2::after{
	content: "";
	position: absolute;
	bottom: 0;
	right: 46%;
	border-bottom :5px solid var(--icon-color);
	width: 70px;

}

.our-service-section .container .title-block p{
	font-family: var(--body-font);
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	color: #fff;
	padding: 30px 200px 30px 200px;
	margin: 0;
}

.our-service-section .container .all-boxes{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	gap: 30px;
	position: relative;
}

.our-service-section .container .all-boxes .box{
	width: 33.33%;
	height: auto;
	padding: 60px 30px;
	margin: 0;
	background-color: #0E0E0E;
	text-align: center;
	transition: 0.3s ease-in-out;
}

.our-service-section .container .all-boxes .box .icon-block{
	width: 70px;
	height: 70px;
	background-color: #1E1E1E;
	margin: 0 auto;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.our-service-section .container .all-boxes .box .icon-block img{
/*	padding: 25px 25px;*/
	margin: 0;
	border: none;
/*	border-radius: 50%;*/
}

.our-service-section .container .all-boxes .box .desc{
	padding: 20px 0 0 0;
	margin: 0;
}

.our-service-section .container .all-boxes .box .desc h2{
	font-family: var(--main-font);
	font-size: 26px;
	font-weight: 400;
	color: #fff;
	letter-spacing: 4px;
	text-transform: capitalize;
	padding: 0 0 10px 0;
	margin: 0;
}

.our-service-section .container .all-boxes .box .desc p{
	font-family: var(--body-font);
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	line-height: 26px;
	text-transform: capitalize;
	padding: 0;
	margin: 0;
}

.our-service-section .container .all-boxes .box .desc p.price-tag{
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: 600;
    color: var(--icon-color);
    text-transform: capitalize;
    border-bottom: 1px solid var(--icon-color);
    display: inline-block;
    padding: 0;
    margin: 45px 0 30px 0;
}

.our-service-section .container .all-boxes .box:hover{
	background-color: #fff;
	cursor: pointer;
}

.our-service-section .container .all-boxes .box:hover .desc h2,
.our-service-section .container .all-boxes .box:hover .desc p{
	color: var(--bg-color);
}

/*.our-service-section {
	position: relative;
}*/

.our-service-section .slider-btn { position: absolute; width: calc(100% + 70px); display: flex; justify-content: space-between; left: -35px; top: 60% }
.our-service-section .slider-btn a{ 
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	border-radius: 50%;
	cursor: pointer;
	color: var(--icon-color);
	background-color: #191919;
 }


.our-service-section .slider-btn a:hover{
	color: #fff;
	background-color: var(--icon-color);
}

/*OUR SERVICE SECTION END*/

/*TESTIMONIAL SECTION START*/

.testimonial-section{
	padding: 0;
	margin: 0;
	position: relative;
	line-height: 0;
}

.testimonial-section .image-block img{
	object-fit: cover;
	width: 100%;
	height: auto;
}

.testimonial-section .image-block .desc{
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.testimonial-section .image-block .desc .box{
	position: relative;
	width: 1170px;
	margin: 0 auto;
}

.testimonial-section .image-block .desc .icon-block{
	display: inline-block;
	font-size: 80px;
	color: var(--icon-color);
	text-align: center;
}

.testimonial-section .image-block .desc .text-block{
	font-family: var(--body-font);
	font-size: 25px;
	font-weight: 400;
	font-style: italic;
	letter-spacing: 1.5px;
	line-height: 1.5;
	color: #fff;
	padding: 50px 140px;
	margin: 0;
}

.testimonial-section .image-block .desc .image-title img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 7px solid white;
    outline: 5px solid #CD3A1D;
}

 .desc .image-title h3{
	font-family: var(--body-font);
	font-size: 22px;
	font-weight: 500;
	line-height: 1.5;
	color: #fff;
	text-transform: capitalize;
	padding: 10px 0;
	margin: 0;
}

.testimonial-section .image-block .slider-btn{
	color: #fff;
}

.testimonial-section .image-block .slider-btn .fa-chevron-left{
	position: absolute;
	top: 50%;
	left: 0;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	background-color: var(--icon-color);
	border-radius: 50%;
	cursor: pointer;
}

.testimonial-section .image-block .slider-btn .fa-chevron-right{
	position: absolute;
	top: 50%;
	right: 0;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	background-color: var(--icon-color);
	border-radius: 50%;
	cursor: pointer;
}

/*TESTIMONIAL SECTION END*/

/*BOOKING SECTION START*/

.book-appointment-section{
    padding: 150px 0 0 0;
    margin: 0;
    background-color: var(--bg-color);
    background-image: url(../images/bg-4.jpg);
    background-repeat: no-repeat;
}

.book-appointment-section .container{
	padding:0;
	margin: 0 auto;
	max-width: 1170px;
}

.book-appointment-section .container .desc-box{
	display: flex;
	justify-content: center;
	gap: 150px;
}

.book-appointment-section .container .desc-box .text-block{
	width: 50%;
}

.book-appointment-section .container .desc-box .text-block h2{
	font-family: var(--main-font);
	font-weight: 400;
	font-size: 60px;
	line-height: 1.3;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: #fff;
	position: relative;
	padding: 0;
	margin: 0;	
}

.book-appointment-section .container .desc-box .text-block h2::after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	border-bottom :5px solid var(--icon-color);
	width: 80px;
}

.book-appointment-section .container .desc-box .text-block p{
	font-family: var(--body-font);
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    line-height: 28px;
    padding: 30px 0 50px 0;
    margin: 0 0 25px 0;
}

.book-appointment-section .container .desc-box .text-block .booking-btn a{
	font-family: var(--main-font);
	font-weight: 400;
	font-size: 16px;
	line-height: 1.3;
	letter-spacing: 1px;
	color: #fff;
	background-color: var(--btn-color);
	text-transform: uppercase;
	padding: 20px 90px;
	margin: 0 ;
	display: inline-block;
}

.book-appointment-section .container .desc-box .image-block{
	position: relative;
}

.book-appointment-section .container .desc-box .image-block img{
	position: relative;
	z-index: 2;
}

.book-appointment-section .container .desc-box .image-block::after{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #0C0C0C;
	left: 30px;
	top: 30px;
}

/*BOOKING SECTION END*/


/*EXPERIENCE SECTION START*/

.experience-section{
    padding: 110px 0 0 0;
    margin: 0;
    background-color: var(--bg-color);
    background-image: url(../images/bg-5.jpg);
    background-repeat: no-repeat;
}

.experience-section .container{
	max-width: 1170px;
	padding: 0;
	margin: 0 auto;
	text-align: center;
	position: relative;
}

.experience-section .container .title-block h2{
	font-family: var(--main-font);
	font-weight: 400;
	font-size: 60px;
	line-height: 1.3;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: #fff;
	position: relative;
	padding: 0;
	margin: 0;
}

.experience-section .container .title-block h2::after{
	content: "";
	position: absolute;
	bottom: 0;
	right: 46%;
	border-bottom :5px solid var(--icon-color);
	width: 70px;

}

.experience-section .container .title-block p{
	font-family: var(--body-font);
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	color: #fff;
	padding: 30px 200px 30px 200px;
	margin: 0;
}

.experience-section .container .all-boxes{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	gap: 30px;
	position: relative;
	z-index: 2;
}

.experience-section .container .all-boxes .box{
	width: 33.33%;
	height: auto;
	padding:0;
	margin: 0;
	background-color: #0E0E0E;
	text-align: center;
	transition: 0.3s ease-in-out;
	position: relative;
}

.experience-section .container .all-boxes .box img{
	width: 100%;
	height: 100%;
	opacity: 0.8;
}

.experience-section .container .all-boxes .box .icon-block{
	display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    flex-direction: column;
    gap: 10px;
    bottom: 5%;
    right: 5%;
    padding: 0;
    margin: 0;
    opacity: 0;
    transform: translateX(60px);
    transition: 0.3s ease-in-out;
}
.experience-section .container .all-boxes .box .icon-block i{
    width: 30px;
    height: 30px;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    background-color: #1E1E1E;
    display: flex;
    justify-content: center;
    align-items: center;
}
.experience-section .container .all-boxes .box .desc{
    position: absolute;
    bottom: -20px;
    left: 50px;
    padding: 0;
    margin: 0;
    text-align: left;
    transform: translateY(10px);
    transition: 0.3s ease-in-out;
}

.experience-section .container .all-boxes .box .desc h2{
	font-family: var(--main-font);
	font-weight: 400;
	font-size: 26px;
	color: var(--icon-color);
	text-transform: uppercase;
	line-height: 28px;
	padding: 0 0 10px 0;
	margin: 0;
}

.experience-section .container .all-boxes .box .desc p{
	font-family: var(--body-font);
	font-weight: 500;
	font-size: 16px;
	color: #fff;
	text-transform: capitalize;
	line-height: 26px;
	padding: 0;
	margin: 0;
	opacity: 0;
}

.experience-section .container .all-boxes .box:hover .icon-block{
	opacity: 1;
	transform: translateY(-60px);
	z-index: 99999;
}

.experience-section .container .all-boxes .box:hover .desc{
	transform: translateY(-40px);
}

.experience-section .container .all-boxes .box:hover .desc p{
	opacity: 1;
}
.experience-section .container .all-boxes .box .icon-block i:hover{
	color: #fff;
	background-color: var(--icon-color);
	cursor: pointer;
}
.experience-section .slider-btn{
	position: absolute;
    width: calc(100% + 40px);
    display: flex;
    justify-content: space-between;
    left: -20px;
    top: 60%;
}

.experience-section .slider-btn a{ 
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	border-radius: 50%;
	cursor: pointer;
	color: var(--icon-color);
	background-color: #191919;
}


.experience-section .slider-btn a:hover{
	background-color: var(--icon-color);
	color: #fff;
	cursor: pointer;
}
/*EXPERINCE SECTION END*/

/*FOOTER START*/

.footer-section{
	padding: 125px 0 75px 0;
	margin: 0;
    background-color: var(--bg-color);
}

.footer-section .container{
	max-width: 1170px;
	margin: 0 auto;

}

.footer-section .container .all-boxes{
	display: flex;
	justify-content: space-between;
/*	align-items: center;*/
	gap:40px;
}

.footer-section .container .all-boxes .box{
	width: 25%;
}
.footer-section .container .all-boxes .box .logo-block{
	max-width: 100px;
}
.footer-section .container .all-boxes .box .logo-block img{
	width: 100%;
}

.footer-section .container .all-boxes .box p{
	font-family: var(--body-font);
	font-weight: 400;
	font-size: 14px;
	color: #fff;
	line-height: 28px;
	text-transform: capitalize;
	padding: 35px 0 0 0;
	margin: 0;
}

.footer-section .container .all-boxes .box p.follow{
    font-family: var(--body-font);
    font-weight: 400;
    font-size: 20px;
    color: var(--icon-color);
    line-height: 70px;
    text-transform: uppercase;
    padding: 35px 0 0 0;
    margin: 0;
}

.footer-section .container .all-boxes .box .icon-block{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 20px;
}

.footer-section .container .all-boxes .box .icon-block i{
	width: 30px;
    height: 30px;
    color: #fff;
    padding: 15px;
    border-radius: 50%;
    text-align: center;
    margin: 0;
    background-color: #1E1E1E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-section .container .all-boxes .box .icon-block i:hover{
	color: var(--icon-color);
	cursor: pointer;
}

.footer-section .container .all-boxes .box .title-block h2{
	font-family: var(--main-font);
	font-weight: 400;
	font-size: 18px;
	color: var(--icon-color);
	line-height: 26px;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 0 0 30px 0;
	margin: 0;
}

.footer-section .container .all-boxes .box ul li a{
	font-family: var(--body-font);
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	color: #fff;
	text-transform: capitalize;
	padding: 0;
	margin: 0;
}

.footer-section .container .all-boxes .box ul li{
	padding-bottom: 19px;
}

.footer-section .container .all-boxes .box .contact{
	font-family: var(--body-font);
	font-weight: 400;
	font-size: 16px;
	color: #fff;
	line-height: 28px;
	text-transform: capitalize;
	padding: 0 0 15px 0;
	margin: 0;
}
.footer-section .container .all-boxes .box .contact2{
	font-family: var(--body-font);
	font-weight: 400;
	font-size: 16px;
	color: #fff;
	line-height: 28px;
	text-transform: capitalize;
	padding: 0 0 25px 0;
	margin: 0;
}	

.footer-section .container .all-boxes .box .title-block2 h2{
	font-family: var(--main-font);
	font-weight: 400;
	font-size: 18px;
	color: var(--icon-color);
	line-height: 26px;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 0 0 19px 0;
	margin: 0;
}

/*FOOTER END*/

/*COPYRIGHT SECTION START*/
.copyright{
	padding: 0;
	margin: 0 auto;
	background-color: #0E0E0E;
	text-align: center;
}
.copyright .container{
	max-width: 1170px;
	margin: 0 auto;
}
.copyright .container h2{
	font-family: var(--body-font);
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	color: #fff;
	letter-spacing: 0;
	text-transform: capitalize;
	padding: 35px 0;
}
.copyright .container h2 span{
	color: var(--icon-color);
}
/*COPYRIGHT SECTION END*/